<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <main>
        <div class="title">
            <h1>
                <img src="/img/sign_up.png" alt="Login">
            </h1>
        </div>
        <div class="formulario">
            <form action="/users" method="post">
                <div class="name">
                    <label for="name">Name</label>
                   <input type="text" id="name" name="name" placeholder="Jane">
                </div>
                <div class="login">
                    <label for="login">Login</label>
                   <input type="text" id="email" name="login" placeholder="Ex: email@gmail.com">
                </div>

                <div class="senha">
                    <label for="senha">Password:</label>
                    <input type="password"name="password" id="senha" placeholder="Ex: 123456">
                </div>
                
                <div class="sign-in">
                    <button class= "submit-button"type="submit">
                        Create your account
                    </button>
                </div>
            </form>
    </div>
</main>

</body>
</html>