<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>

    <header id="header">
        <a id="logo" href="#">Logo</a>
        <nav id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"aria-expanded="false">
                <span id="hamburger"></span>
            </button>
            <ul id="menu" role="menu">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>

                <li>
                    <a href="#">
                        Abrigos
                    </a>
                </li>

                <li>
                    <a href="#">
                        Abrigos Parceiros
                    </a>
                </li>

                <li>
                    <a href="#">
                        Sobre nós
                    </a>
                </li>

                <li>
                    <a href="#">
                        Login
                    </a>
                </li>

                <li>
                    <a href="#">
                        Fale conosco
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>
        <img src="/img/home.png" alt="">
    </h1>
   <script src="menu.js"></script>
</body>
</html>