<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <main>
        <div class="title">
            <h1>
                <img src="/img/login2.png" alt="Login">
            </h1>
        </div>
        <div class="formulario">
            <form action="/auth/login" method="post">
                <div class="login">
                    <label for="login">Login</label>
                   <input type="text" id="email" name="email" placeholder="Ex: email@gmail.com">
                </div>

                <div class="senha">
                    <label for="senha">Password:</label>
                    <input type="password"name="senha" id="senha" placeholder="Ex: 123456">
                </div>
                <div class="reset">
                    <a href="#" id="reset-password">Forgot your password?</a>
                </div>
                <div class="new-account">
                    <a href="/login/cadastro" class="button-login">Create your account</a>
                </div>
                <div class="sign-in">
                    <a href="#">Sign In</a>
                </div>
            </form>
    </div>
</main>

</body>
</html>